<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1> Cheescake de frutos rojos hecho en el horno  </h1>
    <img src = "../img/cheescake.jpg" alt = "Brownie" width="500" height="250">
    <p> 
        Un postre cremoso y delicado con base de galletas, el cheesecake combina lo dulce y lo ácido en cada bocado. Ideal para disfrutar frío, solo o con tu topping favorito. Rinde 8 porciones.
    </p>
    <h2> Lista de ingredientes </h2>
        <ul> 
            <li> 300 grs Galletitas tipo Lincoln </li>
            <li> 150 grs Manteca </li>
            <li> 750 grs Queso crema </li>
            <li> 220gr de azúcar </li>
            <li> 4 huevos </li>
            <li> 150 cc de crema de leche </li>
            <li> 200 grs Mermelada de frutos rojos </li>
            <li> 300 grs Frutos rojos </li>
        </ul>
    <h2> Lista de pasos </h2>
        <ol type = "I"  >                
            <li>Primero precalentamos el horno a 160°. Comenzamos batiendo el queso crema a mano y agregamos los huevos de a uno batiendo suavemente </li>
            <li>Agregar el azúcar y seguir batiendo.​ </li>
            <li>Agrega esencia de vainilla e incorporar la harina tamizada. </li>
            <li>Luego se incorpora la crema de leche, mezclar bien y dejar reposar. </li>
            <li>Base: vamos a triturar las galletitas y mezclar con la manteca derretida, integrar bien y formar un arenado. (la base también puede ser de masa quebreda, como en mi anterior receta de torta de ricota).</li>
            <li>Vamos cubrir la base del molde con las galletitas, yo le coloco un papel aluminio solo a la base para que sea más fácil de desmoldar.</li>
            <li>Colocamos la mezcla anterior de queso crema. Tapamos con papel alumnio, para que no se dore arriba.</li>
            <li>Horneamos por 1 hora y 1/4 o un poquito más, va a depender del horno. Cuando pase la hora y cuarto, deseamos un poquito para fijarnos si la preparación está muy líquida en el centro. Si casi ni se mueve, ya está lista. Si se mueve mucho dejarla 15' más y controlar. Dejarla cocinando siempre tapada con el papel aluminio.</li>
            <li>Una vez que está cocida, apagar el horno y dejar que se enfríe ahí adentro del horno tapada.</li>
            <li>Cuando enfrió, llevar a la Heladera al menos 4hs. Para que enfríe bien.</li>
            <li>Desmoldar bien frío. Y colocar arriba la Mermelada y los frutos rojos. A disfrutar...</li>

    <iframe width="500" height="250" 
    src="https://www.youtube.com/embed/u1ezZicivjY?si=Jh7SqLg_HrOlW9C6" 
    title="Video de la receta de cheescake" >
    </iframe>
    <br>
    <a href = "https://cookpad.com/ar/recetas/24568430-cheesecake-de-frutos-rojos?ref=search&search_term=cheesecake+frutos+rojos+al+horno" target = "_blank">    <!--blank para que se abra en otra pestaña-->
        Enlace a la receta original 
    </a>
    <br>
    <a href = "../../index.html" target = "_self">            
        pagina principal
    </a>
    <br>
    <a href="../views/RecetaBrownie.html" target = "_blank">
        Leer receta del brownie
    </a>

</body>
</html>