<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Brownie humedo en simples pasos </h1>
    <h3> Lista de ingredientes </h3>
        <ul> 
            <li> 150gr de manteca </li>
            <li> 200gr de chocolate semiamargo </li>
            <li> 100gr de harina </li>
            <li> 200gr de azúcar </li>
            <li> 3 huevos </li>
            <li> 100gr de nueces peladas </li>
        </ul>
    <h3> Lista de pasos </h3>
    <ol type = "I"  >                <!--type para cambiar el tipo de la lista, en este caso es romano -->
            <li> Batir los huevos con el azucar solo para unirlos </li>
            <li> Derretir a baño maría el chocolate con la manteca y verterlos sobre los huevos batidos.​ </li>
            <li> Integrar la harina con las nueces y agregarlas a la mezcla del chocolate. </li>
            <li> Verter en una placa enmantecada (de 16 x 26 cm o 20 x 20) y hornear a 180°/200, por 25 o 30 minutos. Dejar enfriar y cortar en cuadrados.</li>
    </ol>
    <a href = "https://www.clarin.com/recetas/pasteleria/brownies_7_LrTtQWcR.html?srsltid=AfmBOoolTzLftr2BtXEJ6kZs_4qrXQGp-Bkm3eZlDqCHgnWa5BKCacBs" target = "_blank"> 
        Enlace a la receta original
    </a>
    <br>
    <a href="../../index.html" target = "_self">
        Volver al inicio </a>
    <br>
    <a href="../views/RecetaCheescake.html" target = "_blank">
        Leer receta del cheesecake
    </a>
</body>
</html>